<!DOCTYPE html>
<html>
  <head>
    <title>Tranzact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header class="absolute top-0 bg-blue-400 w-screen py-5 px-[2%]">
      <% if user_signed_in?%>
        <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete } do %>
          <%= image_tag "switch.png", alt: "Sign Out", class: " w-[3rem] switch back-top" %>
        <% end %>
      <%else%>
        <%= link_to "Log in", new_user_session_path, class: "-mx-3 w-[80px] block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 bg-white hover:bg-white-500" %> 
      <% end %>
    </header>
    <main class="prose container mx-auto mt-28 px-5 flex-col justify-start">
      <%= yield %>
    </main>
  </body>
</html>
